@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@1,300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
#site-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url("https://www.futurebrand.com/uploads/case-studies/_sliderHd/PETZ03.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#main-card {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f8ff9d;

  padding: 20px;
  border-radius: 10px;
}
#card-title {
  font-size: 30px;
}
#card-description {
  font-size: 20px;
  text-align: center;
}
#main-card button {
  font-size: 18px;
  padding: 5px 15px 5px 15px;
  border: 1px solid black;
  border-radius: 5px;
}
#main-card button a {
  text-decoration: none;
  color: black;
}
