@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@1,300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
#site-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url("https://www.petexperience.com.br/source/files/c/11573/BG_base_0003-215854_1920-1080-0-0.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#login-form {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f8ff9d;

  padding: 20px;
  border-radius: 10px;
}
#card-title {
  font-size: 30px;
}
#submit-btn {
  margin-top: 15px;

  font-size: 18px;
  padding: 5px 15px 5px 15px;
  border: 1px solid black;
  border-radius: 5px;
}
