@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@1,300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
#site-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url(https://www.petexperience.com.br/source/files/c/11573/BG_base_0003-215854_1920-1080-0-0.jpg);
  background-size: cover;
}

#login-form {
  padding: 20px;
  width: 100vh;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #f0f8ff9d;
  border-radius: 8px;
  align-items: center;
}
#card-title {
  font-size: 30px;
}
#submit-btn {
  font-size: 18px;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 5px;
}
