#navbar a {
  text-decoration: none;
  color: black;

  border-bottom: 1px solid transparent;
  transition: 0.3s;
}
#navbar {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f8ffb2;
}
#footer {
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: #f0f8ffb2;
}
#navbar a:hover {
  border-bottom: 1px solid black;
}
